@{
    // get cart count from session
    var cart = new Cart(Context);
    var count = cart.Count;
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
        ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IndainCuisine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndainCuisine.styles.css" asp-append-version="true" />
    <style>
        .navbar-nav.ml-auto > .nav-item:not(:last-child) {
            margin-right: 20px;
        }

        .navbar-nav .nav-link {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark py-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold text-uppercase" href="#">Indian Cuisine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mr-3 font-weight-bold">
                        <li class="nav-item @Nav.Active("Home", current)">
                            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        @if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item @Nav.Active("Food", current)">
                                <a class="nav-link" asp-action="List" asp-controller="Food" asp-area="">
                                    <i class="fas fa-utensils"></i> Foods
                                </a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
                        {
                            <li class="nav-item @Nav.Active("Cart", current)">
                                <a class="nav-link" asp-action="Index" asp-controller="Cart" asp-area="">
                                    <i class="fas fa-shopping-cart"></i> Cart
                                    <span class="badge badge-light">@count</span>
                                </a>
                            </li>
                        }
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<User> signInManager
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="LogOut" asp-controller="Account"
                                      asp-area="">
                                    <input type="submit" value="Log Out"
                                           class="btn btn-outline-light" />
                                </form>
                            </li>
                        }
                        else
                        {
                            var action = ViewContext.RouteData.Values["action"]?.ToString();
                            <li class="nav-item @Nav.Active("Register", action)">
                                <a asp-action="Register" asp-controller="Account"
                                   asp-area="" class="nav-link">
                                    <i class="fas fa-edit"></i> Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                                   asp-area="" class="btn btn-outline-light">Log In</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item @Nav.Active("Admin", current)">
                                <a class="nav-link" asp-action="Index" asp-controller="Food" asp-area="Admin">
                                    <i class="fas fa-cog"></i> Admin
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - IndainCuisine - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
